<div id="image-page">
  <h1 class="image-page-title">{{author}}
    {{#if source}} ({{source}}) {{/if}}</h1>
  <div class="image-block">
    <div class="image-block-header">
      <img src="/{{picUrl}}" alt="" loading="lazy" />
    </div>
  </div>
</div>